/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Big Noodle Titling';
  src: url('/styles/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;  
}

.bg-image2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: url('/images/Desktop_Outro_Characters.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.bg-image {
  background-image: url('/images/Desktop_Outro_Sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body {
  font-family: 'Big Noodle Titling', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* background-image: url('/images/Desktop_Outro_Characters.png'); */
  /* font-weight: bolder;  */
  font-size: 1rem;
  /* letter-spacing: 0.1rem; */
  opacity: 1;
  
}

.hamburger {
  @apply absolute right-0 rounded-t-none rounded-sm z-20 duration-500 py-4 ;
}

.hamburger.active {
  @apply top-20 ease-out shadow-lg bg-activeColor;
}

.hamburger.inactive {
  @apply top-[-300px] ease-in bg-mainColor;
}

.dropdown {
  @apply absolute rounded-t-none rounded-sm bg-mainColor z-20 duration-500 py-4 h-40 ;
}

.dropdown.active {
  @apply top-0 ease-out shadow-lg bg-activeColor pt-44 pb-12 ;
}

.dropdown.inactive {
  @apply top-[-300px] ease-in bg-mainColor ;
}


.result {
  @apply text-mainText scale-105 shadow-lg;
}

.result.win {
  @apply bg-activeWin;
}

.result.loss {
  @apply bg-activeLoss;
}

.result.draw {
  @apply bg-activeDraw;
}

.tab {
  @apply xl:w-40  w-32 h-10 text-3xl rounded-sm;
  }

.tab.active {
  @apply bg-thirdColor text-secondaryText;
  }

.tab.inactive {
  @apply hover:bg-activeGrayColor;
  }

.button {
  @apply w-24 h-8 hover:scale-110 tracking-wider shadow-md rounded-sm text-secondaryText;
}

.button.validate {
  @apply bg-thirdColor;
}

.button.cancel {
  @apply bg-secondaryColor text-mainText ;
}

.button.modify {
  @apply w-24 truncate rounded-sm shadow-md text-secondaryText bg-thirdColor;
}
.input {
  @apply w-36 h-10 my-2 text-center shadow-inner rounded-sm tracking-wider;
}

    .card.profile {
      @apply  w-36 h-10 text-center tracking-wider shadow-inner rounded-sm;
    }

.input.disabled {
  @apply w-36 h-10 my-2 bg-secondaryColor text-center shadow-inner rounded-sm;
}

.flexdiv {
  @apply flex items-center justify-center content-center ;
}
.flexdiv.col {
  @apply flex flex-col items-center justify-center content-center ;
}

.intenseShadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
