/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Big Noodle Titling';
  src: url('/styles/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;  
}



body {
  font-family: 'Big Noodle Titling', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  background-color: #347FD3 ;
  /* font-weight: bolder;  */
  font-size: 1rem;
  /* letter-spacing: 0.1rem; */


/*   
  background-image: url('/images/Desktop_Outro_Characters.png');
  background-repeat: no-repeat;
  background-size: cover; */

}

.button {
  @apply w-24 h-8 hover:scale-110 tracking-wider shadow-md rounded-sm text-secondaryText;
}

.button.validate {
  @apply bg-thirdColor;
}

.button.cancel {
  @apply bg-secondaryColor text-mainText ;
}

.button.modify {
  @apply w-24 truncate rounded-sm shadow-md text-secondaryText bg-thirdColor;
}
.input {
  @apply w-36 h-10 my-2 text-center shadow-inner rounded-sm tracking-wider;
}

    .card.profile {
      @apply  w-36 h-10 text-center tracking-wider shadow-inner rounded-sm;
    }

.input.disabled {
  @apply w-36 h-10 my-2 bg-secondaryColor text-center shadow-inner rounded-sm;
}

.flexdiv {
  @apply flex items-center justify-center content-center ;
}
.flexdiv.col {
  @apply flex flex-col items-center justify-center content-center ;
}




.testshadow {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.testshadow2 {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
