/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Big Noodle Titling';
  src: url('/styles/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;  
}

.bg-image2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: url('/images/Desktop_Outro_Characters.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.bg-image {
  background-image: url('/images/Desktop_Outro_Sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body {
  font-family: 'Big Noodle Titling', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* background-image: url('/images/Desktop_Outro_Characters.png'); */
  /* font-weight: bolder;  */
  font-size: 1rem;
  /* letter-spacing: 0.1rem; */
  opacity: 1;
  
}

.containerbox {
  @apply flex flex-col items-center justify-center content-center gap-10
  w-80 py-10 bg-mainColor shadow-lg rounded-sm
}

.containerboxnort {
  @apply flex flex-col items-center justify-center content-center gap-10
  w-80 py-10 bg-mainColor shadow-lg rounded-sm rounded-t-none
}

.hamburger {
  @apply absolute right-[-1rem] rounded-t-none rounded-sm duration-500 py-4 w-screen;
}

.hamburger.active {
  @apply  xs:top-[4.25rem] sm:top-[6rem] top-[3.5rem] ease-out shadow-lg bg-activeColor;
}

.hamburger.inactive {
  @apply top-[-300px] ease-in bg-mainColor;
}

.dropdown {
  @apply absolute rounded-t-none rounded-sm duration-500 py-4;
}

.dropdown.active {
  @apply top-0 ease-out shadow-lg bg-activeColor pt-12 pb-12 ;
}

.dropdown.inactive {
  @apply top-[-300px] ease-in bg-mainColor ;
}


.result {
  @apply text-mainText scale-105 shadow-lg;
}

.result.win {
  @apply bg-activeWin;
}

.result.loss {
  @apply bg-activeLoss;
}

.result.draw {
  @apply bg-activeDraw;
}

.headertab {
  @apply xl:w-40  w-32 h-10 text-2xl rounded-sm tracking-widest;
  }

.headertab.active {
  @apply bg-thirdColor text-secondaryText ;
  }

.headertab.inactive {
  @apply hover:bg-activeColor;
  }

.accounttab {
  @apply h-10 w-40 rounded-b-none rounded-sm text-xl tracking-wider;
  }

  .accounttab.active {
  @apply scale-105 bg-thirdColor text-secondaryText;
  }

.accounttab.inactive {
  @apply bg-secondaryColor text-mainText  hover:bg-activeColor;
}

.button {
  @apply w-28 h-10 hover:scale-110 tracking-wider shadow-md rounded-sm text-secondaryText text-xl;
}

.button.validate {
  @apply bg-thirdColor;
}

.button.cancel {
  @apply bg-secondaryColor text-mainText ;
}

.button.modify {
  @apply w-24 truncate rounded-sm shadow-md text-secondaryText bg-thirdColor;
}
.input {
  @apply w-36 h-10 my-2 text-center shadow-inner rounded-sm tracking-wider text-xl;
}

    .card.profile {
      @apply  w-36 h-10 text-center tracking-wider shadow-inner rounded-sm;
    }

.input.disabled {
  @apply w-36 h-10 my-2 bg-secondaryColor text-center shadow-inner rounded-sm;
}

.flexdiv {
  @apply flex items-center justify-center content-center ;
}
.flexdiv.col {
  @apply flex flex-col items-center justify-center content-center ;
}

.list {
  @apply  bg-activeColor hover:opacity-100 shadow-lg rounded-sm ;
}

.list.selected {
  @apply  scale-105 z-10 rounded-sm ring-2 ring-thirdColor;
}

.list.unselected {
  @apply  opacity-30 ;
}



.intenseShadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
